@page "/"

<style> 
    .container{
        width : 400px; 
    }
    button{
        width:100px;
        height:100px;
        font-size:50px;
    }
    tombol{
        width: 100px;
        height: 100px;
        font-size: 50px;
    }

</style>

<PageTitle>where game pov</PageTitle>

<div class=" container"> 
    <div class="row">
        @for(var animalNumber =0; animalNumber < shuffelAnimals.Count;animalNumber++)
        {
            string animal = shuffelAnimals[animalNumber];
            string animalDescription = $"Animal #{animalNumber}" ;

            <div class="col-3">
                <button @onclick="(()=>ButtonnClick(animal,animalDescription))"
                    type="button" class="btn btn-outline-dark">
                <h1>@animal</h1>
                    </button>
            </div>
        }
       
    </div>
</div>

@code{
    List<string> animals = new List<string>() //Untuk mengisi array dan gambar pada game 
    {
        "🐒","🐒",
        "🐼","🐼", 
        "🐔","🐔",
        "🦓","🦓",
        "🐇","🐇",
        "🦉","🦉",
        "🐎","🐎",
        "🐄","🐄"
    };

    List<string> shuffelAnimals = new List<string>();

    private void SetUpGame() //setup game sebagai control dalam mengatur sebuah game 
    {
        Random random = new Random();
        shuffelAnimals = animals
        .OrderBy(item => random.Next())
        .ToList();
        animalfound = 0;
    }

    protected override void OnInitialized() //untuk  memulai game 
    {
        SetUpGame();
    }

    string ClickedAnimal = string.Empty; //variable untuk mengclick sebuah button

    string clickedAnimalDescription = string.Empty; //untuk membedakan antara variable animal dan deskripsi mencegah kebocoran apabila
                                                     //di click dua kali akan tidak berhasil
     
    int animalfound = 0; //untuk mengecek score dan mereset game jika sudah semua selesai

    private void ButtonnClick(string animal , string animaldescription) //untuk button click pada table 
    {
        if(ClickedAnimal == string.Empty) //jika kita mengclcik gambbar yang sama maka akan berhasil 
        {
            ClickedAnimal = animal;   // var animal 
            clickedAnimalDescription = animaldescription; // var deskripsi animal untuk membedakan animal dan s=deskripsi
        }
        else if (ClickedAnimal == animal && clickedAnimalDescription !=animaldescription) //jika kita mnegclick animal dan deskrpsi sama 
                                                                                            //maka tidak aka berasil 
        {
            shuffelAnimals = shuffelAnimals   // maka akan mengacak anial
            .Select(item => item.Replace(animal, string.Empty))  // yang sudah terselect maka akan menjadi empty dan menambah score 
            .ToList();
            ClickedAnimal = string.Empty; 

            animalfound++; // jika sleected berhasil maka akan menambah score 
            if (animalfound == 8)  // jika score sudah 8 maka akan reset game
            {
                SetUpGame();
            }
        }
        else
        {
            
            ClickedAnimal = string.Empty;
            

        }
    }
}



